@import "../components/App.module.scss";

.containerFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background-color: $gray-color-light;
  width: 100%;
  padding-bottom: 2rem;
}
h1 {
  margin-bottom: 1rem;
}
.userImage {
  width: 40px;
}
