@import "./App.module.scss";
.box:hover{
    box-shadow: $box-shadow2;
}
.box{
    border-radius: 1px $text-color-black solid;
    background-color:$background-color;
    border-radius: 0.75rem;
    padding: 0.7rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 300px;

    &__container{
        background-color:#fffef0;
            &__img{
                width: 75px;
                height: 75px;
                object-fit: cover;
                border-radius: 0.25rem;
                padding:30px 112px;
            }
        
    }
    &__title{
        font-size: 1.25rem;
        text-decoration: none;
        font-weight: 600;
        color: $text-color-black;
        margin-top:0.6rem;
        padding-left:0.5rem;
    }
    &__description {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        font-size: 1rem;
        text-decoration: none;
        max-width: 300px;
        font-weight: 400;
        margin-top: 8px;
        margin-bottom: 16px;
        color: $text-color-black;
        padding-left:0.5rem;
    }

}

@media screen and (max-width: 600px) {
    .box{
        width: 275px;
        margin: 0.5rem 0.5rem 0.1rem 0.5rem;
    
        &__container{
                &__img{
                    width: 25%;
                    height: 25%;
                    padding:9% 35%;
                }
        }
        &__title{
            font-size: 1rem;
            margin-top:0.6rem;
        }
        &__description {
            margin-top: 6px;
        }
    
    }
}