@import "./App.module.scss";

.filter__subheader{
    text-align: center;
    margin-top: 8px;
    font-weight: 300;
    color: $gray-color-dark;
    font-size: 1.05rem;
}

.filter__itemlist {
    padding: 8px;
    display: flex;
    overflow-x: scroll;
    text-align:Center;
    margin:auto;
    max-width: 1345px;
    margin-top: 8px;
}

@media screen and (max-width: 600px) {
    .filter__subheader{
        margin-right: 8px;
        margin-left: 8px;
        font-size: 14px; 
    }
    .filter__itemlist {
        margin-top: 8px;
        padding: 16px;
    }
}