$primary-color: #B34180;
$gray-color: rgb(242, 241, 249);
$grayblue-color: #597D8C;
$text-color: #FFFFFF;


.footer {
    background-color: $gray-color;
    padding: 4%;
    margin-top: 5%;
    font-size: 14px;
    color: $grayblue-color;

    &__container {
        margin-top: 2%;
        margin-right: auto;
        margin-left: auto;
    }

    &__llistes {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &__links {
            list-style-type: none;
            position: center;
            justify-content: center;
            padding: 4%;

            li {
                padding-bottom: 8%;
            }

            &>li>a {
                text-decoration: none;
                color: white;
                margin: 2rem;
                font-size: 1.2rem;
            }
        }
    }
}


@media screen and (max-width: 600px) {
    .footer__llistes {
        display: flex;
        flex-wrap: wrap;
    }

    .footer {
        margin-top: 0.5rem;
        padding: 3rem 2rem;

        &__container {
            margin-top: 0rem;
            margin-bottom: 4em;
        }
        &__llistes {
            justify-content: space-between;
    
            &__links {
                list-style-type: none;
                position: center;
                justify-content: center;
                padding: 1.5rem;
    
                &:first-child {
                    // min-width:350px;
                }
    
                li {
                    padding-bottom: 5px;
                }
    
            }
        }
    }
}
