$primary-color: #B34180;
$text-color: #FFFFFF;

.container__mobile{
  display: none;
}
.container__fluid{
  border-bottom: 1px rgba(236, 239, 241, 0.5) solid;

  .header {
  max-width: 1024px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;

  &__left{
    display: flex;
    align-items: center;
    justify-content: left;
  }

  &__right{
    margin-left: 80px;
        display: flex;
        align-items: center;
        justify-content: right;
  }

  &__logo > a > img{
    margin-right: 8px;
    height: 42px;
    padding: 16px;
  }
  &__navigationBar {

    &__llista{
      display: flex;
      margin: 16px;
      a {
        text-decoration:none;
        color: black;
        padding: 5px;
        &:hover{
          margin-bottom: -3px;
          border-bottom: 3px $primary-color solid;
        }
      }
      li {
        padding: 16px;
        list-style-type: none;
      }
    }
  }
}
}
.container__searchBar{
  display:none;
}


@media screen and (max-width: 600px) {
  .container__searchBar{
    display:flex;
    justify-content:space-around;
    margin:auto;
    text-align:center;
    padding:0.5rem;
    margin-top:6px;
    border-bottom: 1px rgba(236, 239, 241, 0.5) solid;


    img {
      height: 36px;
      width: 36px;
    }
  }
  .header{
    display: none!important;
  }
  .container__mobile {
    display: initial;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 20;
    
    .mobile__tabbar{
      display: flex;
      padding-bottom: 24px;
      padding-top: 8px;
      align-items: center;
      justify-content: space-around;
      min-height: 64px;
      border-top: 1px solid #eceff1;
      box-shadow: -1px 3px 9px 3px #4a48485c;

      &__option{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__option__title{
        margin-top: 8px;
      }
    }
  }

}