@import "/src/components/App.module.scss";

.container__fluid{
    padding: 42px 0 0pxm 0px;
    background-color: $gray-color-light;
    
}

.filter__subheader {
    font-weight: 300;
    color:$gray-color-dark;
    font-size: 1.25rem;
}
.title{
    text-align: center;
    margin:auto;
    text-align:center;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom:1rem;
}

.filter__itemlist {
    display: flex;
    margin:auto;
    justify-content:center;
    flex-wrap:wrap;
    max-width:800px;
}

@media screen and (max-width: 600px) {
    .container__fluid{
        padding-top: 24px;
        padding-bottom: 6px;
    }
    h2{
        font-size: 18px; 
        padding-bottom:6px;
    }
    .title{
        font-size: 18px;
        margin-bottom:0.2rem;
    }
}