@import "../components/App.module.scss";

.containerFluid{
    width:100%;
    padding: 16px 0px;
    background-color: rgb(242, 241, 249);
}
.filter__header {
    font-weight: 600;
    font-size: 2rem;
}

.filter__subheader {
    font-weight: 300;
    color: #acacac;
    font-size: 1.25rem;
}
.title{
    text-align: center;
    margin:auto;
    text-align:center;
    font-size: 1.75rem;
    font-weight: 600;
}

.filter__itemlist {
    display: flex;
    overflow-x: scroll;
    max-width: 1150px;
    margin:auto;
}

@media screen and (max-width: 600px) {
    .containerFluid{
        padding-top: 6px;
        padding-bottom: 6px;
    }
    h2{
        font-size: 18px; 
        padding-bottom:6px;
    }
    
}