@import "./App.module.scss";

.containerFluid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 241, 249);
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 2px 10px 0 #dcdcdc;
    border-radius: 0.5rem;
    background-color: white;
    padding: 2rem;
    height: inherit;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: 2rem;
    }

    &__subtitle {
        font-size: 0.875rem;
        font-weight: 600;
        margin-top: 1rem;
        color: #597D8C;
    }

    &__email,
    &__password {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        width: 700px;

        label {
            font-size: 1rem;
        }

        input {
            margin-top: 0.5rem;
            height: 40px;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        p {
            font-size: 1rem;
            color: red;
            margin-top: 4px;
        }
    }

    &__button {

        button {
            margin: 1rem;
        }
    }

    &__paragraph {

        p {
            font-size: 1rem;
        }

        span {
            margin-left: 8px;
            color: $primary-color;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: auto;

        &__title {
            font-size: 1.5rem;
            text-align: center;
        }

        &__subtitle {
            margin-top: 0.5rem;
            margin-bottom: 2rem;
        }

        &__email,
        &__password {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            width: 100%;

            label {
                font-size: 1rem;
            }

            input {
                margin-top: 0.5rem;
                height: 40px;
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            p {
                font-size: 1rem;
                color: red;
                margin-top: 4px;
            }
        }

        img {
            width: auto;
            height: auto;
        }
    }
}