
.message{
    margin: 1rem;
    width: fit-content;
}

.text-padding{
    padding: 1rem;
}
.message__user{
    color:#B34180;
    margin-left: auto;
    text-align: left;
}

.message__userCard{
    border-radius: 20px;
    border: 1px solid #B34180;

}

.message__guestCard{
    background-color: #eceff1;
    border-radius: 20px;
}

.message__userName {
    font-weight: 800;
}

.message__message {
    font-size: 0.875rem;
    margin-left: 1rem;
}