.barstyling {
    width: 30rem;
    background-color: #EEE;
    border: none;
    padding: 0.5rem;
    height: 32px;
    border-radius: 80px;
    padding-left: 2rem;
}

@media screen and (max-width: 600px) {
    .barstyling{
        width: 80%;
        height: 20px;
    }
}
