@import "./App.module.scss";

.box{
    border-radius: 1px $text-color-black solid;
    background-color:$background-color;
    border-radius: 0.75rem;
    padding: 1rem;
    margin: 1rem 0.5rem 1rem 0.5rem;
    display:flex;

    &__image > img{
        width: 160px;
        height: 138px;
        object-fit: cover;
        border-radius: 0.25rem;
    }


    &__text {
        padding-left:18px;


        &__upper{
            display:flex;
            justify-content:space-between;

            &__heart{
                width:22.5px;
                height:22.5px;
                margin-left:8px;
            }

            &__title{
                font-size: 1.25rem;
                text-decoration: none;
                font-weight: 600;
                color: $text-color-black;
                max-width:200px;
                line-height:1.3em;
            }
        }

        &__description {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 250px;
            font-size: 1rem;
            text-decoration: none;
            font-weight: 400;
            color: $text-color-black;
            margin-top:5%;
        }

    }
}

@media screen and (max-width: 600px) {
    .box{
        margin: 0.5rem 0.3rem 0.5rem 0.3rem;
    
        &__image > img{
            width: 140px;
            height: 140px;
        }
    
        &__text {
            padding-left:16px;
    
            &__upper{
    
                &__heart{
                }
    
                &__title{
                    font-size: 1.1rem;
                    line-height:1.2em;
                }
            }
    
        }
    }
}