$primary-color: #ffdaee;
$text-color: black;

.box{
    border-radius: 1px black solid;
    max-width: fit-content;//no està fent res
    background-color:$primary-color;
    border-radius: 0.75rem;
    padding: 1rem;
    margin: 1rem 0.5rem 1rem 0.5rem;

    &__title{
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: 600;
        color: $text-color;
    }

    &__description {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        font-size: 1rem;
        text-decoration: none;
        max-width: 300px;
        font-weight: 400;
        margin-top: 8px;
        margin: 1rem 1rem 1rem 0rem;
        color: $text-color;
    }
    &__image > img{
        width: 240px;
        object-fit: cover;
        border-radius: 0.25rem;
    }
    
    &__button {
        margin-top: 0.5rem;
        margin-left: 0rem;
        border-radius: 0.5rem;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .box{
        padding: 0.6rem;
        margin: 0.4rem;
    
        &__title{
            font-size: 16px; 
        }
    
        &__description {
            font-size: 13px; //footer
            margin: 0.6rem 0rem 0.6rem 0rem;
        }
        &__image > img{
            width: 130px;
            height:90px;
        }
        &__button {
            display:none;
        }
    }    
}