@import "./App.module.scss";

.box{
    padding:16px 0;
    background-color: $white-color;
    // border: 1px black solid;
    width: 150px;
    border-radius: 0.5rem;
    min-width: 150px;

    &__image{
        width: 48px;
        height: 48px;
        margin-left: 51px;
    }
    &__text{
        font-size: 1rem;
        // font-weight: 600;
        justify-content: center;
        text-align: center; 
        margin-top: 8px;   
        margin-left: auto;
        margin-right: auto;
        max-width: 105px;
        color:$text-color-black;
    }

    &:hover{
        background-color:$gray-color-light;
        cursor: pointer;
    }
}


@media screen and (max-width: 600px) {
    .box{
        width: 50px;
        min-width: 100px;

    &__image{
        width: 48px;
        height: 48px;
        margin-top: 0;
        margin-left:auto;
        margin-right:auto;
    }
    &__text{
        font-size:0.9em;
        justify-content: center;
        text-align: center; 
        max-width: 75px;
    }
}
img{
    width: 42px;
    height: 42px;
}
}