@import "./App.module.scss";
.box:hover{
    // box-shadow:0 0 0 4px #eceff1;
    box-shadow: $box-shadow2;
}

.box{
    border-radius: 1px $text-color-black solid;
    background-color:$background-color;
    border-radius: 0.75rem;
    padding: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    display:flex;
    width:450px;
    font-size:1rem;

    &__image > img{
        width: 160px;
        height: 170px;
        object-fit: cover;
        border-radius: 0.25rem;
    }


    &__text {
        padding-left:18px;


        &__upper{
            display:flex;
            justify-content:space-between;

            &__title{
                font-size: 1.25rem;
                text-decoration: none;
                font-weight: 600;
                color: $text-color-black;
                line-height:1.3em;
            }
        }

        &__description {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1rem;
            text-decoration: none;
            font-weight: 400;
            color: $text-color-black;
            margin-top:0.8rem;
        }

        &__option{
            text-decoration:none;
            color:$gray-color-dark;
            margin-top:0.7rem;
            font-weight:600;

        }

    }
}

@media screen and (max-width: 600px) {
    .box{
        margin: 0.3rem 0rem 0.3rem 0rem;
        width:375px;
    
        &__image > img{
            width: 140px;
            height: 155px;
        }
    
        &__text {
            padding-left:16px;
    
            &__upper{
    
                &__title{
                    font-size: 1.1rem;
                    line-height:1.2em;
                }
            }
            &__description {
                margin-top:0.6rem;
            }
    
            &__option{
                margin-top:0.55rem;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
    
            }
        }
    }
}